.box{
    width:100px;
    height: 100px;
    display:inline-block;
    line-height: 100px;
    text-align: center;
    }

.box1{
    background-color: red;
    position: relative;
    border-radius: 50%;
}

.box2{
    background-color: red;
    
    right: 45px;
    z-index: 200;
    border-radius: 50%;
}

.box3{
    background-color: red;
    position: relative;
    bottom: 16px;
    right: 178px;
    z-index: 300;
    transform:rotate(45deg);

}