.box{
box-sizing: border-box;
/*esto es para alargar al total de la pagina*/
width: 11%;
height: 20px;
border:1px solid red;
padding: 20px;
float: left;
}

.box:nth-child(odd){
	background-color: tomato;
}

.box:nth-child(even){
	background-color: lightgreen;
}

.box:hover:nth-child(1){
	background-color: purple;
}
.box:hover:nth-child(2){
	background-color: yellow;
}
.box:hover:nth-child(3){
	background-color: blue;
}
.box:hover:nth-child(4){
	background-color: grey;
}
.box:hover:nth-child(5){
	background-color: brown;
}
.box:hover:nth-child(6){
	background-color: red;
}
.box:hover:nth-child(7){
	background-color: lightblue;
}
.box:hover:nth-child(8){
	background-color: pink;
}
.box:hover:nth-child(9){
	background-color: green;
}